.bg-gray {
    background-color: #f8f9fa;
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bg-success {
    background-color: #28a745;
}
.bg-danger {
    background-color: #dc3545;
}
.bg-warning{
    background-color: yellow;
}