<h3>@LuckyNumber</h3>

@code {
    private int LuckyNumber { get; set; }

    protected override void OnInitialized()
    {
        var random = new Random();
        LuckyNumber = random.Next(1, 100);
    }
}
