@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider></MudThemeProvider>
<MudPopoverProvider></MudPopoverProvider>
<MudDialogProvider></MudDialogProvider>
<MudSnackbarProvider></MudSnackbarProvider>
<h3>MembersLayout</h3>

<div>@Body</div>
