@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<input type="text" @onkeydown="KeyDown" @onkeydown:preventDefault/>
@KeyPressed

@code {
    private int currentCount = 0;
    private int KeyPressed = 0;

    [SupplyParameterFromQuery]
    public int Count { get; set; }

    protected override void OnParametersSet()
    {
        currentCount = Count;
    }

    private Task IncrementCount()
    {
        currentCount++;
        return Task.CompletedTask;
    }

    private void KeyDown()
    {
        KeyPressed++;
    }
}
