@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<RandomNumber></RandomNumber>
<FullName FirstName="@FirstName" LastName="Persaud"></FullName>
<EnrollmentForm SchoolName="Hollywood High"></EnrollmentForm>

@code{
    string FirstName = "Hemraj";
}

<Revenu Amount="100_000"></Revenu>
<Revenu Amount="400_000"></Revenu>
<Revenu Amount="700_000"></Revenu>

<Gretting Name="Hemraj"></Gretting>