@page
@model IndexModel
@* Direct dependecny injection *@
@using RazorPortfolio.Services
@inject ILuckyNumberService luckyNumberService;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <p>(Dependency injection via programs class) Your Lucky Number is: @Model.LuckuNumber</p>
    <p>(Dependency injection via directly from page) Your Lucky Number is: @luckyNumberService.GetMyLuckyNumber()</p>
</div>

<div class="text-center">
    <p>
        <a href="/News">Navigate to News page</a>
    </p>

    <p>
        <a asp-page="/News">Navigate to News page</a>
    </p>
</div>

<div class="text-center">
    <form method="post">
        <div style="display: flex; justify-content: center">
            <div style="display: grid; grid-gap: 5px; width: 300px">
                <input type="text" name="username" placeholder="username" />
                <input type="password" name="password" placeholder="password" />
                <button type="submit" class="btn btn-primary" style="width: 80px; margin-top:5px">Sign In</button>
            </div>
        </div>
    </form>
    @if (Model.UserName.Length > 0)
    {
        <p>Logged in as user: @Model.UserName</p>
    }
</div>