@page
@model RazorPortfolio.Pages.NewsModel
@{
}
<h1>News</h1>

<ul>
    <li><a href="/artical/1">Artical One</a></li>
    <li><a href="/artical/2">Artical Two</a></li>
    <li><a href="/artical/3">Artical Three</a></li>
</ul>